{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block style %}
img {
    margin: 10px;
    padding: 0px;
    max-width: 100%;
}
p.line_p {
    margin: 0px;
    padding: 0px;
}
{% endblock %}

{% block main %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v17.0" nonce="Kp08LQew"></script>
<h1>{{ name }}</h1>
    {% for obj in data %}
        {% if "txt" in obj %}
            <{{ obj["tag"] }} class="line_p">
                {% for o in obj["l"] %}<span style='{{ o[1] }}'>{{ o[0] }}</span>{% endfor %}
                {% if "eximg" in obj %}
                <img style="{{ obj['eximg_style'] }}" src="https://steven-57.github.io/images/{{ name }}/{{ obj['eximg'] }}">
                {% endif %}
            </{{ obj["tag"] }}>
        {% endif %}
        {% if "img" in obj %}
        <img src="https://steven-57.github.io/images/{{ name }}/{{ obj['img'] }}">
        {% endif %}
        {% if "html" in obj %}{{ obj['html'] }}{% endif %}
    {% endfor %}
<h1>留言版</h1>
<div class="fb-comments" data-href="https://steven-57.github.io/{{ name }}" data-width="" data-numposts="5"></div>
{% endblock %}